<div class="container">
  <div class="row">
    <div class="col-12">
        <h2 class="mat-h2">Choose one of socials</h2>
    </div>
  </div>
  
  <div class="row">
      <div class="col-12">
        <ng-container *ngFor="let social of socials">
            <button mat-stroked-button type="button" (click)="oauthLogin(social.sysname)">{{ social.name }}</button>
        </ng-container>
      </div>
  </div>
</div>