
<div class="container">
  <section *ngIf="user$ | async">

    <div class="row">
      <div class="col-12">
        <h2 class="mat-h2">{{(user$ | async).name}}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
          <mat-form-field appearance="none">
            <mat-label>createDate</mat-label>
            <input matInput disabled value="{{(user$ | async).createDate | date :'dd.MM.yyyy'}}">
          </mat-form-field>
          <mat-form-field appearance="none">
            <mat-label>lastUpdate</mat-label>
            <input matInput disabled value="{{(user$ | async).lastUpdate | date :'dd.MM.yyyy'}}">
          </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <span class="mat-span">Roles:</span>
      </div>
      <div class="col-12">
        <ng-container *ngIf="(user$ | async).roles.length">
          <span class="mat-body" *ngFor="let role of (user$ | async).roles">
            {{ role }}
          </span>
        </ng-container>
        
        <ng-container *ngIf="!(user$ | async).roles.length">
          <span class="mat-body">no selected roles</span>
        </ng-container>
      </div>  
    </div>

    <div class="row">
      <div class="col-12">
        <span class="mat-span">Connect another account:</span>
      </div>
      <div class="col-12">
          <ng-container *ngFor="let social of socials">
              <button 
                mat-stroked-button 
                type="button"
                [disabled]="(user$ | async).isConnectedSocial(social.sysname)"
                (click)="oauthConnect(social.sysname)"
                >{{ social.name }}
              </button>
          </ng-container>
      </div>
    </div>

  </section>
<!-- <button mat-button (click)="reget()">get info !!!</button> -->
</div>