<div class="loader-info" [hidden]="!viewLoadBar">
  <mat-progress-bar
        [mode]="'indeterminate'"
  ></mat-progress-bar>
</div>

<mat-toolbar>
  <h3>{{title}}</h3>
  <button mat-icon-button *ngIf="isAliveToken" (click)="quit()">
    <mat-icon>exit_to_app</mat-icon>
  </button>

</mat-toolbar>
<mat-divider></mat-divider>

<router-outlet></router-outlet>
