/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./theme/main.scss";

body {
    padding: 0;
    margin: 0;
    min-width: 250px;
}